html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    Padding: 3em;
    background-color: #8698A3;
    background-image: "IMG_5575.jpg";
    background-repeat: no-repeat;
    background-size: contain;     
    background-position: top;
    font-size: small;
    color: #E6F8FF;
}

header {
    text-align: center;
    color: #E6F8FF;
    font-family: sans-serif;
    padding: 1em;
    margin-top: 275px;
    margin-bottom: 10px;
}

nav {
    margin-top: 25px;
}

a {
    color: #E6F8FF;
}

.work_exp {
    flex: space-around;
    text-align: left;
    list-style-type: none;
}

@media (min-width: 700px) {

    body {
        font-size: smaller;
    }

    header {
        text-align: center;
        color: #E6F8FF;
        font-family: sans-serif;
        padding: 1em;
        margin-top: 600px;
        margin-bottom: 10px;
    }

    .container-work {
        text-align: center;
    }

    .work_exp {
        flex: space-around;
        text-align: center;
        list-style-type: none;
    }

    .container-skills {
        text-align: center;
        list-style-type: none;
    }
}

@media (min-width: 1000px) {
    
    body {
        font-size: smaller;
    }

    header {
        text-align: center;
        color: #E6F8FF;
        font-family: sans-serif;
        padding: 1em;
        margin-top: 850px;
        margin-bottom: 10px;
    }

    .container-work {
        text-align: center;
    }

    .work_exp {
        flex: space-around;
        text-align: center;
        list-style-type: none;
    }

    .container-skills {
        text-align: center;
        list-style-type: none;
    }
}