html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

body {
    background-color: #8698A3;
    font-size: small;
    color: #E6F8FF;
}

header {
    text-align: center;
    color: #E6F8FF;
    font-family: sans-serif;
    margin-bottom: 1em;
}

nav {
    margin-top: 1em;
}

a {
    color: #E6F8FF;
}

.container_md {
    padding-left: 1em;
    padding-right: 1em;
}

.work_head{
    text-decoration: underline;
}

.container_work {
    text-align: center;
}

.language_head {
    text-decoration: underline;
}

.container_skills {
    margin-bottom: 3em;
    text-align: center;
    list-style-type: none;
}

@media (min-width: 700px) {

    body {
        font-size: medium;
    }

    header {
        text-align: center;
        color: #E6F8FF;
        font-family: sans-serif;
    }

    .container_md {
        padding-left: 2em;
        padding-right: 2em;
    }

    .container_work {
        text-align: center;
    }

    .work_exp {
        flex: space-around;
        text-align: center;
        list-style-type: none;
    }

    .container_skills {
        text-align: center;
        list-style-type: none;
    }
}

@media (min-width: 1000px) {
    
    body {
        font-size: medium;
    }

    header {
        text-align: center;
        color: #E6F8FF;
        font-family: sans-serif;
    }

    .container_md {
        padding-left: 4em;
        padding-right: 4em;
    }

    .container_work {
        text-align: center;
    }

    .work_exp {
        flex: space-around;
        text-align: center;
        list-style-type: none;
    }

    .container_skills {
        text-align: center;
        list-style-type: none;
    }
}